*{
box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
}
header>div{
    max-width: 960px;
    margin: 0% auto;
}
header{
    background-image: url("images/bannerbg.png");
    background-repeat: repeat-x;
}
#main-section {
    max-width: 960px;
    margin: 0 auto;
}
#main-section>div{
    border:solid grey 1px;
    border-radius: 20px;
    overflow: hidden;
    background-color:#A2B964;
}
#main-section>h1{
    text-align: center;
}
#main-section>div>aside{
    width:25%;
    float:right;
    font-size:13px;
}
#movie-info{
    padding: 0 10px;
}
#main-body{
    width: 75%;
    float: right;
}

#main-body>.main-body-header{
    background-image: url("images/rbg.png");
    background-repeat: repeat-x;
    font-size:50px;
    color: red;
    font-weight: bold;
}
#all-comments{
    column-count: 2;
    background-image: url("images/background.png");
    overflow: auto;
}
.user-comments{
    padding:10px;
    page-break-inside: avoid;
    break-inside: avoid;
}
.user-quote{
    border: solid grey 1px;
    border-radius: 7px;
    padding: 7px;
    background-color: #E8DC9B;
}
.user-comments::after{
    clear: both;
}
.critic{
    font-size: 12px;
    color: rgb(92, 78, 78);
}
.user-comments img{
    float :left;
    vertical-align:top;
}
ul#links{
list-style-type:none;
padding: 0%;
}
P#pagination{
    padding: 0px;
    text-align: center;
}
div#validation{
    position: fixed;
    bottom:0%;
    right:0%
}